
body{
    --max-width: 1000px;
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #94badf;
}

nav{
    padding: 5px;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav li{
    list-style: none;
    padding: 10px;
    transition: all 0.2s;
}

nav li:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: inherit;
}

li i{
    padding-right: 5px;
}

.features li{
    list-style: none;
    padding-bottom: 5px;
}

.features li::before{
    font-family: FontAwesome;
    content: "\f05d";
    padding-right: 5px;
}

.main-container{
    background-color: white;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-container{
    background-color: #94badf;
    padding: 10px 0 30px 0;
}

.row{
    text-align: center;
}

/*CONTAINER FOR ALL POSTS*/
.posts-container{
    padding: 15px;
}

.post-container-border{
    border: 1px solid #d3d3d3;
}

/*SINGLE POST CONTAINER*/
.post-container > a{
    border: 1px solid #d3d3d3;
}

.post-container > a:hover{
    border: 1px solid #94badf;
}

.post-container{
    margin-bottom: 10px;
}

.post-container:last-child{
    margin-bottom: 0;
}

.post-content{
    padding: 10px;
}

.post-content p{
    text-align: justify;
}

.post-details{
    margin-top: 10px;
}

.post-details::before{
    font-family: FontAwesome;
    content: "\f055";
    padding-right: 5px;
}

.post-w40{
    width: 100%;
}

.post-w30{
    width: 100%;
}

.post-image{
    position: relative;
}

.priceTag{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: white;
    position: absolute;
    left: -10px;
    top: 10px;

    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-book{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(top, #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img{
    width: 100%;
    position: relative;
    display: block;
}

img+img{
    margin-top: 10px;
}

video{
    overflow: hidden;
    width: 100%;
}

/*TEXT STYLING*/
h2, h3{
    margin: 0;
}

h1{
    margin: 0 0 10px 0;
    font-size: 3em;
    font-family: 'Courgette', cursive;
    font-weight: normal;
    vertical-align: middle;
}

h2{
    font-size: 2.5em;
    font-family: 'Courgette', cursive;
    font-weight: normal;
    padding: 20px 20px 5px 20px;
}

h3{
    font-size: 1.1em;
    font-weight: normal;
    padding: 10px 20px 10px 20px;
}

h4{
    font-size: 1.1em;
    font-family: 'Courgette', cursive;
    font-weight: lighter;
    margin: 0 0 10px 0;
}

h4:nth-child(n+2){
    margin: 10px 0 10px 0;
}

a > h3{
    padding: 10px;
}

p + h3{
    margin-top: 10px;
}


.post-container h3{
    font-family: 'Courgette', cursive;
    font-weight: normal;
}

p{
    margin: 0;
}

input{
    width: 100%;
    border: none;
    padding: 20px;
}

input::placeholder{
    color: #7298c3;
    font-size: 1.1em;
    text-transform: uppercase;
}

input:focus{
    outline: none;
}

.text-caps{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

.text-white{
    color: white;
}

.text-green{
    color: #adc845;
}

.text-light-blue{
    color: #7298c3;
}

.text-blue{
    color: #4d74a7;
}

video{
    position: relative;
    width: 100%;
}

.video-caption{
    padding: 20px;
}

.display-none-mobile{
    display: none;
}

/*BACKGROUND STYLING*/
.bg-blue{
    background-color: #4d74a7;
}

/*MEDIA QUERY*/

/* Desktops and laptops ----------- */
@media only screen and (min-width: 900px) {
    .main-container{
        width: 80%;
        max-width: var(--max-width);
    }

    .main-container-offset{
        position: relative;
        top: -70px;
    }

    .row{
        text-align: unset;
    }

    .post-w60{
        width: 60%;
    }

    .post-w40{
        width: 36%;
    }

    .post-w30{
        width: 30%;
    }

    header nav ul{
        width: 80%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: var(--max-width);
        margin: 0 auto;
    }

    .post-container{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }

    .post-container:nth-child(n + 4){ /* APPLY MARGIN TO EVERY ROW AFTER 1ST */
        margin-bottom: 0;
    }

    .header-container{
        position: relative;
        overflow: hidden;
    }

    .header-video{
        height: 500px;
    }

    video{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    .video-caption{
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 40%;
        width: 80%;
        max-width: var(--max-width);
    }

    .display-none-mobile{
        display: block;
    }
}
